@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #020617;
}

.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}